<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FlightMapper">


    <select id="findAllAirports" resultType="com.example.demo.dto.AirportsDto">
        SELECT * FROM airports
    </select>

	<select id="getAvailableFlights" resultType="com.example.demo.dto.FlightDto">
		SELECT flight_id, departure_airport, arrival_airport, departure_time FROM Flights
	</select>
	<!-- <select id="getAvailableFlightsByDate" resultType="com.example.demo.dto.FlightDto">
		SELECT * FROM flights WHERE DATE(departure_time) = #{date}
	</select> -->
	<select id="getAvailableFlightsByDate" parameterType="String" resultType="com.example.demo.dto.FlightDto">
		SELECT flight_id, departure_airport, arrival_airport, departure_time, arrival_time
		FROM flights WHERE DATE(departure_time) = #{date}
	</select>
	<select id="findFlights" parameterType="map" resultType="com.example.demo.dto.FlightDto">
		SELECT flight_id, departure_airport, arrival_airport, departure_time, arrival_time
		FROM flights WHERE departure_airport = #{departure}
		AND arrival_airport = #{arrival} AND DATE(departure_time) = #{departureDate} AND DATE(arrival_time) = #{arrivalDate}
	</select>
	<select id="getAllFlights" resultType="com.example.demo.dto.FlightDto">
		SELECT flight_id, departure_airport, arrival_airport, departure_time, arrival_time FROM flights
	</select>
	<select id="getFlights" resultType="com.example.demo.dto.FlightDto">
		SELECT flight_id, departure_airport, arrival_airport, departure_time, arrival_time, flight_duration, airplane_id
		FROM flights
	</select>
	<select id="getFlightsWithPagination" resultType="com.example.demo.dto.FlightDto">
		SELECT flight_id, departure_airport, arrival_airport, departure_time, arrival_time, flight_duration, airplane_id
		FROM flights ORDER BY departure_time DESC LIMIT #{limit} OFFSET #{offset}
	</select>
	<select id="getTotalFlightsCount" resultType="int">
		SELECT COUNT(*) FROM flights
	</select>
	

</mapper>