<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FlightMapper">
	<select id="getAvailableFlights" resultType="com.example.demo.dto.FlightDto">
        SELECT flight_id, departure_airport, arrival_airport, departure_time
        FROM Flights
    </select>


</mapper>