<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MainMapper">
	<select id="ilist" resultType="com.example.demo.dto.InquiryDto">
		select * from inquiry order by id desc
	</select>
	<select id="listCountsPerState" resultType="com.example.demo.dto.StateCountDto">
		SELECT state, COUNT(*) AS count FROM inquiry
		GROUP BY state ORDER BY state DESC
	</select>
	
</mapper>